/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'modules/buttons';

body {
  padding-top: 50px;
  background-color: #f6f6f6;
}

.nav {
  i {
    margin-right: 5px;
  }
}

.signup {
  text-align: center;
}

.add {
  float: left;
  width: 140px;
  height: 160px;
  border: 2px solid #dfdfdf;
  border-left-width: 0;
  text-align: center;
  font-size: 18px;
  color: #524D4D;

  &:first-child {
    border-left-width: 2px;
  }

  &:hover {
    background-color: #E1DFDF;
    text-decoration: none;
  }

  * {
    padding-top: 10px;
  }

  img {
    display: block;
    height: 80px;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.user-image {
  width: 25px;
}