// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pins {
  position: relative;
}

.pin {
  position: relative;
  background: #fff;
  width: 200px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px; // @override

  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

  .btn {
    visibility: hidden;
    position: absolute;
    top: 20px;

    &.edit { left: 20px; }
    &.delete { right: 20px; }
  }

  &:hover {
    .btn {
      visibility: visible;
    }
  }

  .description {
    padding-top: 10px;
  }

  .attribution, .comments {
    font-size: 0.8em;
    background: #f0f0f0;
    margin: 0 -10px;
    padding: 10px;

    img {
      width: 30px;
      margin-right: 5px;
    }

    a {
      font-weight: bold;
      color: #333;
    }
  }
}