// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;

  .btn {
    visibility: hidden;
    position: absolute;
    top: 20px;

    &.edit { left: 20px; }
    &.delete { right: 20px; }
  }

  &:hover {
    .btn {
      visibility: visible;
    }
  }
}